@mixin slideFromRight {
    @content;

    @keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
    }
}

@mixin slideFromLeft {
    @content;

    @keyframes slideFromLeft {
    0% {
        transform: translate(-100%);
    }

    100%{
        transform: translateX(0%);
    }
    }
}

@mixin toggleDown {
    @content;

    @keyframes toggleDown {
    0% {
        transform: translateY(calc(-100% - 4rem));
    }

    100%{
        transform: translateY(0);
    }
    }
}

@mixin toggleUp {
    @content;

    @keyframes toggleUp {
    0% {
        transform: translateY(0);
    }

    100%{
        transform: translateY(calc(-100% - 4rem));
    }
    }
}


@mixin opacityText {
    @content;

    @keyframes opacityText {
    0% {
        opacity: 100%;
    }

    50%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
    }
}

@mixin rotateMenuOpened {
    @content;

    @keyframes rotateMenuOpened {
    0% {
        transform: rotate(120deg);
    }

    100%{
        transform: rotate(240deg);
    }
    }
}

@mixin rotateMenuClosed {
    @content;

    @keyframes rotateMenuClosed {
    0% {
        transform: rotate(240deg);
    }

    100%{
        transform: rotate(120deg);
    }
    }
}