@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

.header{
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 2;
    display: flex;
    gap: 5rem;
    z-index: 10;

    @include m.mq('large'){
        top: 4rem;
        left: 0;
        // padding: 0 3rem;
        width: 40%;
        display: flex;
        justify-content: center;
    }

    @include m.mq('medium'){
        top: 0;
        left: 0;
        padding: 4rem 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.hamburger{
    display: none;

    @include m.mq('large'){
    display: unset;
    width: 2rem;
    height: 3px;
    background-color: v.$dark-gray;
    position: absolute;
    left: 3rem;
    bottom: 50%;
    border-radius: .2rem;
    z-index: 50;

    &::before{
        content: "";
        position: absolute;
        width: 2rem;
        height: 3px;
        top: -8px;
        background-color: v.$dark-gray;
        border-radius: .2rem;

    }

    &::after{
        content: "";
        position: absolute;
        width: 2rem;
        height: 3px;
        top: 8px;
        background-color: v.$dark-gray;
        border-radius: .2rem;

    }
    }

    
}

.nav{
    @include m.mq('large'){
        position: absolute;
        transform: translateY(-10rem);
        background-color: v.$white;
        padding: 2rem 0 2rem 6rem;
        left: 0;
        width: 100%;
    }

    @include m.mq('medium'){
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        padding: 0;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.nav-list{
    display: flex;
    gap: 2rem;


    &__item{
        text-transform: lowercase;
    }

    &__link{
        text-decoration: none;
        color: v.$white;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 0%;
            background-color: v.$white;
            height: 1px;
            border-radius: 2rem;

            transition: all .2s linear;
            transform-origin: center;
        }

        &:hover{
            text-shadow: 0 0 1px currentColor;

            &::before{
                left: 15%;
                width: 70%;
            }
        }


        @include m.mq('large'){
            color: v.$black;

            &::before{
                background-color: v.$black ;
            }
        }
    }
}